<style type="text/css">
.rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  -webkit-transform-origin: 0% 00%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}
.sized {
    width:  1em;
    height: 10em;
    position:relative;
    top: 10em;
    left:0em;
}
</style>

<table class="table table-bordered">
    <thead>
        <tr>
            <%(['']+langs).each do |lang|%>
                <th style="vertical-align:bottom;"><div class="sized rotate"><a href="http://rosettacode.org/wiki/Category:<%=lang%>"><%=lang%></a></div></th>
            <%end%>
        </tr>
    </thead>
    <tbody>
        <%tasks.each do |task|%>
            <tr>
                <th><a href="http://rosettacode.org/wiki/<%=task%>"><%=task.gsub('_', '&nbsp;')%></a></th>
                <%langs.each do |lang|%>
                    <td>
                        <a href="<%="/"+['Lang', lang, task].join('/')%>">
                            <%=
                                num = Dir.glob([ROSETTA, 'Lang', lang, task, '*'].join('/')).size
                                num.zero? ? '' : num
                            %>
                        </a>
                    </td>
                <%end%>
            </tr>
        <%end%>
    </tbody>
</table>