<div class="row" id="intro">
    <%= readme %>
</div>

<style type="text/css">
.rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  -webkit-transform-origin: 0% 00%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}
.sized {
    width:  2em;
    height: 15em;
    position:relative;
    top: 10em;
    left:0em;
}
tbody th {
    width: 20em;
}
</style>

<div class="row" id="matrix">
    <h2>Matrix of Languages and Tasks</h2>
    <table id="matrix_table" class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                <%(langs).each do |lang|%>
                    <th style="vertical-align:bottom;"><div class="sized rotate"><%=lang['name'].gsub(' ', '&nbsp;')%></div></th>
                <%end%>
            </tr>
        </thead>
        <tbody>
            <%major_tasks.each do |task|%>
                <tr>
                    <th><a href="http://rosettacode.org/wiki/<%=task['url']%>"><%=task['name']%></a></th>
                    <%langs.each do |lang|%>
                        <td>
                            <a href="<%="/"+['Lang', lang['url'], task['url'] + '.html'].join('/')%>" data-lang="<%=lang['url']%>" data-task="<%=task['url']%>" class="code_link">
                                <%=
                                    num = Dir.glob([ROSETTA, 'Lang', lang['path'], task['path'], '*'].join('/')).size
                                    num.zero? ? '' : num
                                %>
                            </a>
                        </td>
                    <%end%>
                </tr>
            <%end%>
        </tbody>
    </table>
</div>

<div class="row" id="code">
    <h2>Code Samples</h2>
</div>

<script type="text/javascript">
    $().ready(function() {
        $('#matrix_table').dataTable({
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": true,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": false,
            "aoColumnDefs": [
                <% 
                    non_major_indices = [] 
                    langs.each_with_index do |l,i|
                        unless major_langs.include?(l)
                            non_major_indices << (i + 1) # offset one because of the first column
                        end
                    end
                %>
                {"bVisible": false, "aTargets": <%=non_major_indices.to_json%>}
            ]
        });
        $('.code_link').click(function(event) {
            event.preventDefault();
            var el = $(this);
            var lang = el.attr('data-lang');
            var task = el.attr('data-task');

            RCI.load_code(lang, task);
        });
    });
</script>